################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pype/.vs/Pype/v16
/Pype/obj
/Pype/bin/Debug/netcoreapp3.1
