################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pype/.vs
/Pype/bin
/Pype/obj
/Pype.Tests/.vs
/Pype.Tests/bin
/Pype.Tests/obj
*.csproj.user
.DS_Store
