################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Pype/.vs/
/Pype/obj
/Pype/bin
/Pype.Tests/bin
/Pype.Tests/obj
*.csproj.user
